# CEIS110 Module 1 - Intro to Python

Author: Prof. Oscar Trevizo

Date: February 26, 2024

# Math operators

<table>
    <tr>
        <th>Symbol</th>
        <th>Operation</th>
        <th>Description</th>
    </tr>
    <tr>
        <td> + </td>
        <td> Add </td>
    </tr>
    <tr>
        <td> - </td>
        <td> Subtract </td>
    </tr>
    <tr>
        <td> * </td>
        <td> Multiply </td>
    </tr>
    <tr>
        <td> /</td>
        <td> Divide</td>
        <td> The result is a floating point number </td>
    </tr>
    <tr>
        <td> //</td>
        <td> Floor division</td>
        <td> The result is integer </td>
    </tr>
    <tr>
        <td> %</td>
        <td> Remainder</td>
        <td> Divides one number by another and gives the remainder </td>
    </tr>
    <tr>
        <td> **</td>
        <td> Exponent</td>
        <td> raises the power</td>
    </tr>
    
</table>

# Variable Naming
I. you cannot use python's keywords for naming variable examples:

1. and 
2. del 
3. from 
4. None 
5. True
6. as 
7. elif
8. def
9. else   
are some examples.

II. No spaces between variable names. For example the variable " fruit name" is incorrect

III. first character a-z, A-Z or underscore .Examples : a , _a, fruit, Fruit 

IV. After first character you can use a-z, A-Z , 0-9 or underscore .Examples : a20, a_20, _20 

V. Case sensitive ,  fruit, and Fruits are considered distince.

In [1]:
# Declaring and storing values in variables

# Declares a string
apples_name = 'apple'

# Declares an int
apples_count = 10

# Declares a float
apples_price = 0.75


print(apples_name, apples_count, apples_price)

apple 10 0.75

In [2]:
apples_name

'apple'

In [3]:
apples_count

10

In [4]:
apples_price

0.75

In [5]:
# Multiplication
values_of_apples = apples_count * apples_price

print('The value of my apples is = ', values_of_apples, 'dollars')

The value of my apples is =  7.5 dollars

In [6]:
values_of_apples

7.5

In [7]:
# now let's get some oranges
oranges_name = 'Orange'
oranges_count = 20
oranges_price = 0.5

print(oranges_name, oranges_count, oranges_price)

Orange 20 0.5

In [8]:
# Addition
tot_fruit = apples_count + oranges_count

print('The total number of fruit, apples and oranges is =', tot_fruit)

The total number of fruit, apples and oranges is = 30

In [9]:
apples_count + oranges_count

30

In [10]:
tot_fruit

30

In [11]:
# Subtraction - Eat some apples
apples_count =  apples_count - 3

print('I ate some apples, so my total now is =', apples_count)

I ate some apples, so my total now is = 7

# References:

https://docs.python.org/3/

https://github.com/otrevizo/CEIS110_Python_Jul2023

https://github.com/jakevdp/WhirlwindTourOfPython

https://www.geeksforgeeks.org/python-keywords-and-identifiers/